@import "../../../components/design/ui.scss";

.Home {
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
  }
   
.Home-logo {
    height: 40vmin;
  }
   
#home-produits{
    display: flex;
    max-width: 1400px;
    width: 100%;
    border: 1px solid navy;
    margin: 3vh auto;
}
.img-produits{
    object-fit: cover;
    height: 400px;
    width: 50%;
}
.produits-right {
    display: flex;
    flex-direction: column;
    border: 1px solid red;
}
.produits-right h2{
  color: $colorSecondary;
}