#actu{
  max-width: $max-width-block;
  margin:0 auto;
  .responsive {
    width: 100%;
    display: flex;
    flex-direction: column;
    @media (max-width: $breakpoint-menu){
      .actu_card {
        .imgActu {
          width: 25vw;
          display: block;
          height: 100%;
          border-radius: 35px 0 0 35px;
          background-size: cover;
          background-position: center;
        }
      }
    }
    @media (max-width: $breakpoint-tablet){
      .actu_card {
        display: flex;
        flex-direction: column;
        align-items: center;
        li {
          width: 100%;
        }
        
        .imgActu {
          width: 100%;
          background-size: cover;
          background-position: center;
          border-radius: 35px 35px 0 0;
        }
      }
    }
  }

  .actu_card{
    display: flex;
    border-radius: 35px;
    margin: $marginXXL;
    box-shadow: 0px 4px 30px 3px rgba(8, 26, 42, 0.1);
    .imgActu {
      width: 23vw;
      display: block;
      height: 100%;
      min-height: 27vh;
      border-radius: 35px 0 0 35px;
      background-size: cover;
      background-position: center;
    }
    .actu_text {
      width: 90%;
      margin: 3rem;
      a{
        color: $colorSecondary;
      }
    }
  }
}