.Container-Image-Storage{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.imageInStorage{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    margin: 2vh 1vw;
    .img-upload{
        margin-bottom: 1vh;
        width:200px;
        object-fit: cover;
    }
    .BtnAction{
        margin:2vh auto;
    }
}
