
.title-form {
 border: solid red 2px;
  color: #38892C;
  text-align: center;
  margin-bottom: 30px;
  
}
.form {
  height: 150vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid yellow 2px;
}

input {
  width: 75%;
  height: 7vh;
  border: solid #38892C 2px;
  vertical-align: middle;
  text-align: left;
  color:#071723;
}

.data-form {
  padding: 20px;
  border-radius: 3px;
  margin-bottom: 20px;
  background: #fff;
  font-size: 16px;
  color:#071723;
  outline: none;
  height: 20px;
  width: 50%;
  border: solid red 2px;
}

.textarea-form {
  height: 30vh;
  width: 75%;
}

.btn-form {
  border: none;
  font-weight: 500;
  font-size: 20px;
  color: #071723; 
  cursor: pointer;
  transition: 0.2s ease-in-out;
  margin-top: 10px;
  background-color: $colorPrimary;
  color: $colorThird;
  border-radius: 15px;
  padding: 2vh;
  width: 15vw;
  text-align: center;
  letter-spacing:1.1px;
  margin: 5vh;
}

.btn-form:hover {
  background-color: #38892C;
}