// Horizontal space
$spaceH_XXL:2rem;
$spaceH_XL:1rem;
$spaceH_L:.8rem;
$spaceH_M:.6rem;

$marginXXL:2rem;
$doubleMarginXXL:32px;
$marginXL:1rem;
$marginL:.8rem;
$marginM:.5rem;

$padXXL:2rem;
$padXL:1.3rem;
$padL:.8rem;
$padM:.5rem;



