
// Redirect to individuals and pro pages
@mixin encart_intro {
  height: 630px;
  border-radius: 35px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  margin:$marginXXL;
  margin-bottom: $spaceH_XL ;
  padding:$padXXL;
  width: 75%;
  h3 {
    color: $colorThird;
    font-size: $typoL;
  }
}
