.footer {
  width: 100%;
  background-color: $colorAlphaP;
  padding: 5vh 0 ;
  font-family: $typoPrimaire;
  .footer_container{
    display: flex; 
    max-width: 1400px;
    width: 95%;
    justify-content: space-between;
    align-items: center;
    margin: auto;
  }
  .coordonnees {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    color: white;
    max-width: 250px;
    width: 100%;
    #coord-1{
        font-size: 1.3rem;
        line-height: 2rem;
    }
    #coord-2{
      line-height: 1.4rem;
      text-transform: lowercase;
    }
    #coord-3{
      text-transform: lowercase;
    }
  }
  .footer_reseaux {
    display: flex;
    width: 100px ;
    justify-content: space-between;
  .ico-social{
    font-size: 2rem;
    color: white;
    transition: all .5s ease-in;
      &:hover{
        font-size:2.3rem;
      }
    }
  }
  .footer_link {
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: space-between;
    text-align: right;
    a {
        text-decoration: none;
        color: $colorThird;
        font-size: $typoS;
        line-height: 2rem;
        letter-spacing: 1px;
        border-bottom: 1px solid transparent;
        transition: background .2s ease-in;
        &:hover{
          color:$colorSecondary;
						background: $colorAlphaS;
						border-radius: 5px;
        }
      }
  }
}

@media screen and (max-width: 796px ) {
  .footer_container{
    flex-direction:column;
    text-align: center;
    .footer_reseaux{
      margin:3vh auto;
    }
    .footer_reseaux, .coordonnees, .footer_link{
        align-items: center;
    }
    #coord-2{
      text-align: center;
    }
  }
}

