.Home {
    text-align: center;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100%;
    position: relative;
    color: white;
    text-shadow:4px 4px 4px #38892C;
    .home-hero-carousel{
      position: absolute;
      display: flex;
      align-items: center;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
    .home-title{
      letter-spacing: 1.1px;
      font-size: 2.5rem;
    }
    .carousel-text{
      margin-left: 3vw;
      display: flex;
      align-items: center;
      justify-content: center;
      p{
        font-size: 5rem;
        letter-spacing: 1.2px;
      }
    }
  }
.Home-logo {
    height: 40vmin;
  }

.thumbnail-home-concept{
  width: 85%;
  object-fit: cover;
  margin: 0 auto;
  border: 1px solid white;
  box-shadow: 3px 3px 50px #cfcfcf;
  margin-bottom: $spaceH_M;
}
#home-produits{
    display: flex;
    height: 100vh;
    flex-direction: column;
    max-width: 1400px;
    width: 95%;
    margin: 3vh auto;
}
.produits-pro, .produits-part{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50vh;
  padding: $padM;
  margin: $marginM;
}

.produits-pro {
  img {
    position: relative;
  }
}

.produits-part {
  img {
    position: relative;
    right: -5%;
  }
}
.img-produits{
    object-fit: cover;
    width: 49%;
}
.produits-right {
    display: flex;
    flex-direction: column;
    padding: 2vh 2vw;
}
#home-actualite{
  width: 95%;
  max-width: 1400px;
  margin: 5vh auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  h2{
    margin-bottom: 3vh;
    align-self: flex-start;
  }
  .container-thumbnail-actualite{
    display: flex;
    justify-content: space-between;
    align-items: center;
    .thumbnails-actualite{
      width: 98%;
      object-fit: cover;
    }
  }
  a{
    margin: 5vh auto;
  }
}
 
