.navbar {
    width: 100%;
    height: 110;
    background-color: $colorPrimary;
    display: flex; 
    justify-content: space-between;
    align-items: center;
		padding: 1.5rem 1rem;
    z-index: 50;

		img {
			width: 100px;
		}

		.hamburger__menu{
    width: 30px;
    height: 30px;
		display:none;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;

			&:hover div {
			background: $colorSecondary;
			}
			
				div{
				width: 100%;
    		height: 3px;
    		background:#f4f4f4;
				}
		}


		.navbar__links {
    	display: flex;
    	list-style: none;
    	align-items: center;
    	padding: $padXL;

    	li { 
      	padding: $padXL;
				
    		a {
    			text-decoration: none;
    			color: $colorThird;
    			font-size: $typoL;
    			display: flex;
					align-items: center;
					&:hover{
						color:$colorSecondary;
					}
      }
    }
  }
}

@media (max-width: 960px){
    .navbar .navbar__links {
        display: none;
    }

    .navbar .hamburger__menu {
        display: flex;
				padding: 1.5rem 1.5rem;

    }
}

@media(max-width: 500px){
    .navbar img {
        width: 80px;
    }
}



