.navbar {
    width: 100%;
    height: 110;
    background-color: $colorAlphaP;
		font-family: $typoPrimaire;
    display: flex; 
    justify-content: space-between;
		padding: 1.5rem 1rem;
    z-index: 400;
		img {
			width: 63px;
			// position: absolute;
			left: 1vw;
		}
		.hamburger__menu{ 	
			display:none;
			div{
				width: 31px;
    		height: 10px;
				border-top: 3px solid white;
				margin-bottom: 8px;
				transition: transform .2s ease-in;
				}
				&.close {
					div {
						&.b1{
							transform: rotate(-45deg) translate(-6px,6px);
					}
					&.b2{
							opacity: 0;
					}
					 &.b3{
							transform: rotate(+45deg) translate(-9px,-10px);
					}
					}
				}
			&:hover div {
			 background: $colorSecondary;
			}	
		}
		.navbar__links {
    	display: flex;
    	list-style: none;
			justify-content: center;
    	li { 
    		a {
    			padding: $padXL;
					text-decoration: none;
    			color: $colorThird;
    			font-size: $typoS;
    			display: flex;
					align-items: center;
					transition: background .2s ease-in;
					&:hover{
						color:$colorSecondary;
						background: $colorAlphaS;
						border-radius: 5px;
					}
      }
    }
  }
}

@media (max-width: $breakpoint-menu){
    .navbar .navbar__links {
      display: none;
    }

    .navbar .hamburger__menu {
      display: flex;
			padding: 1.5rem 1.5rem;
			width: 30px;
    	height: 30px;
    	flex-direction: column;
    	justify-content: space-between !important;
    	align-items: center;
    	cursor: pointer;
			z-index:500;
    }
}

@media(max-width: 500px){
    .navbar img {
        width: 80px;
    }
}





