.navbar {
	width: 100%;
  height: 110;
  background-color: $colorPrimary;
  display: flex; 
  justify-content: space-between;
  align-items: center;
	padding: 1.5rem 1rem;
    z-index: 50;

		img {
			width: 100px;
		}

		.hamburger__menu{
     	
			display:none;
    

			div{
				width: 30px;
    		height: 10px;
				border-top: 3px solid white;
				margin-bottom: 8px;
				}

			&:hover div {
			 background: $colorSecondary;
			}
			
				
		}


		.navbar__links {
    	display: flex;
    	list-style: none;
    	align-items: center;
    	padding: $padXL;

    	li { 
      	padding: $padXL;
				
    		a {
    			text-decoration: none;
    			color: $colorThird;
    			font-size: $typoL;
    			display: flex;
					align-items: center;
					&:hover{
						color:$colorSecondary;
					}
      }
    }
  }
}

@media (max-width: 960px){
    .navbar .navbar__links {
      display: none;
    }

    .navbar .hamburger__menu {
      display: flex;
			padding: 1.5rem 1.5rem;
			width: 30px;
    	height: 30px;
    	flex-direction: column;
    	justify-content: space-between !important;
    	align-items: center;
			z-index: 400 !important;
    	cursor: pointer;

    }
}

@media(max-width: 500px){
    .navbar img {
        width: 80px;
    }
}


