.sidedrawer {
	width: 70%;
	height: 100vh;
	background:$colorPrimary;
	position: fixed;
	top: 0;
	right: 0;
	z-index: 200;
	transform: translateX(100%);
	transition: all 0.3s ease-out;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-family: $typoPrimaire;

		.sidedrawer__links{
			display: flex;
			flex-direction: column;
			list-style: none;
	}
			li {
				display: flex;
				align-items: none;
			}
				a {
					display: flex;
					align-items: center;
					justify-content: center;
					text-align: center;
					flex: 1;
					padding: 1rem;
					text-decoration: none;
					color:$colorThird;
					font-size: $typoS;
					&:hover{
						color:$colorSecondary;
					}
				}
}

.sidedrawer.show {
	transform: translateX(0);
}

@media (min-width: 960px){
	.sidedrawer {
		display: none; 
	}
}
