.admin_general_Del_Edit{
    width: 100%;
    margin: 3vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;
    border-bottom: 1px solid $colorPrimary;
}