@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;300;400;500;700&display=swap');


// Font-family
$typoPrimaire: 'Noto Sans JP', sans-serif;
$typoSecondaire: "Roboto", sans-serif;

h1{ 
    font-family: $typoPrimaire;
    font-size: $typoXXL;
}

h2 {
    font-family: $typoPrimaire;
    font-size: $typoXL;
    color:$colorSecondary;
    margin:$spaceH_XXL auto;
    font-weight: 400;
    max-width: 1000px;
    line-height:130%;
    &.uCenter{
        text-align: center;
    }
}

h3 {
    font-family: $typoPrimaire;
    font-size: $typoL;
    font-weight: 300;
}

p {
    font-family: $typoSecondaire;
    line-height: 150%;
    margin-bottom: 5vh;
    margin-top: 2vh;
    font-size: $typoS;
    text-align: left;
}