@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP&display=swap');


// Font-family
$typoSecondaire: "Roboto", sans-serif;
$typoPrimaire: 'Noto Sans JP', sans-serif;

h1{
    
    font-family: $typoPrimaire;
    font-size: $typoXL;
    //padding:$spaceH_XL;
}

h2 {
    font-family: $typoPrimaire;
}

p {
    font-family: $typoPrimaire;
    line-height: 1.5rem;
    font-size: $typoL;
}