@import 'elements/reset.scss';
@import 'variables.scss';
@import 'elements/elementSpacing.scss';
@import 'elements/breakpoints.scss';
@import 'elements/mediaQueries.scss';


// Elements for components
@import 'elements/typo.scss';
@import 'elements/global.scss';
@import 'elements/ButtonAdd.scss';
@import 'elements/SuppOrEdit.scss';
@import 'elements/Navbar.scss';
@import 'elements/Footer.scss';
@import 'elements/button.scss';
@import 'elements/Backdrop.scss';
@import 'elements/SideDrawer.scss';
@import 'elements/encart.scss';
@import 'elements/introEncart.scss';
@import 'elements/CardTeam.scss';
@import 'elements/encartSite.scss';
@import 'elements/encartConcept.scss';
@import 'elements/actuEncart.scss';
@import 'elements/Map.scss';
// Style for screens
@import 'screens/NavBarAdmin.scss';
@import 'screens/Admin.scss';
@import 'elements/home.scss';
@import 'elements/Concept.scss';
@import 'elements/AdminSlider.scss';
@import 'elements/Contact.scss';
@import 'elements/AddPhoto.scss';
@import 'screens/AddPage.scss';

