// Size typo
$typoXXL: 230%;
$typoXL: 1.5rem;
$typoL: 1.3rem;
$typoM: 1rem;
$typoS: 1rem;
$typoXS: 0.8rem;

// Colors
$colorPrimary: #061722;// Dark blue, color texte and background 
$colorSecondary: #38892C; // Green light, alternative color
$colorThird:#fff;// Contrast color for menu link
$colorBack: #c4c4c436;
$colorDanger: red;
