// Size typo
$typoXXXL: 3rem;
$typoXXL: 2.5rem;
$typoXL: 2rem;
$typoL: 1.5rem;
$typoM: 1.3rem;
$typoS: 1rem;
$typoXS: 0.8rem;

// Colors
$colorPrimary: #061722;// Dark blue, color texte and background 
$colorSecondary: #3aa02a; // Green light, alternative color
$colorThird:#fff;// Contrast color for menu link
$colorBack: #c4c4c436;
$colorDanger: red;

// Colors alpha
$colorAlphaP:#061722c4;
$colorAlphaS:#051724be;


// Breakpoint mediaqueries
$breakpoint-tablet: 768px;

// Card profile size 
$widthCardPlayer : 350px;