@import "./design/ui.scss";

.admin_general_Add_Field{
    width: 100%;
    margin: 3vh 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 3px;
    border: 1px solid orange;
    button {
        @include boutonAdd;
    }
}
