#admin {
    display: flex;
    flex-direction: column;
    width:70%;
    padding: 3rem;
    background: white;
    h1{
        color: $colorPrimary;
        letter-spacing: 1.5px;
    }
    h3{
        margin: 2vh auto 1vh auto;
    }
    .form-group{
        display: flex;
        align-items: center;
    }
}
