.admin_navbarcontainer {
background-color: $colorPrimary;
width: 30%;
min-height: 100vh;
.logo {
    display: block;
    margin: 30px auto;
}
.admin_navbar_link{
    height: 50%;
    max-height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
ul {
    // list-style: none;
    li {
        a {
            color: $colorThird;
            font-family: $typoSecondaire;
        }
    }
}

}